<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Страница загрузки изображений</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <h1>Страница загрузки изображений</h1>
    <a href="{% url "images_list_view" %}">Перейти к списку загруженных изображений</a>

    <form class="" action="{% url "upload-view" %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ message }}
      {{ form.as_p }}

      <p><input type="submit" value="Отправить"/></p>
    </form>
    <p>Загружать можно только файлы изображений.</p>
  </body>
</html>
