
h1 {
  margin-bottom: 25px;
}

.gallery {
  display: flex;
  width: 100%;
  border:1px solid #EEE;
  padding:2%;
}

.full-image {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 300;
}

.full-image--opened {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-image img {
  width: auto;
  height: 100%;
  min-height: 300px;
  max-height: 600px;
}

.gallery-images {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 50%;
}

.image {
  flex: calc((100% / 3) - 10px);
  height:125px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
}

.image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.image span {
  bottom: 10px;
  left: 30px;
  position:absolute;
  /* margin-top: -20px; */
  color:white;
  background-color: black;
  max-width: 190px;

}
